@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root{
    --background: linear-gradient(180deg, #f39885 0, #e8857a 25%, #d86c6c 50%, #c85360 75%, #ba3e5a 100%);
    --box-color: red;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: var(--background);
    font-family: 'Roboto Mono', monospace;

}

.themer{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;   
    border-radius: 100%;
    background-color: black;
    color: white;

}
.center-page{
    background-color: var(--box-color);
    margin: auto;
    /* Essas duas linhas dão um retangulo por que a referencia de tambanho é a tela */
    width: 50vh;
    height: 50vh;
    border-radius: 50px;

}

.tempos{
    display: flex;
    justify-content: space-around;
}
.cronometro{
    font-weight: 900;
    font-size: large;
    margin: 0;
}
.div-buttons{
    display: flex;
    justify-content: center;
}
.button-up{
    margin-top: 9px;
}

button{
    background: none;
    border: none;

}
button:active{
    transform: translateY(1px);
}

.icons{
    width: 30px;
}
.div-intervalo-controller{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.bottons-controler{
    width: 9vw;
}
.controllers{
    width: 50px;
}
